
 /**  	
  * This is a program to calculate the surface area and volume of a sphere.
  *
  * @author kayanat
  * @version 2018-02-09
  */
 import java.util.Scanner;
 /**
  * This is a class where calculations are made for a given input.
  * 
  * @author kayanat
  */
 public class SphereCalculator
 {
      /**
      * This is where the surface area and volume are calculated for a sphere.
      * An input is given and the method takes the number to calculate
      * the surface area and volume of a sphere.
      */
     public static void sphereCalc()
     {
         Scanner input = new Scanner(System.in);
         System.out.println("Welcome to Sphere Calculator!");
         System.out.print("Diameter? ");
         double diameter = input.nextDouble();
         double radius = diameter / 2;  	
         if (diameter > 0)  	
         {
             double surfaceArea = 4.0 * Math.PI * Math.pow(radius, 2);
             System.out.printf("The surface area of that sphere is %.4f \n",
                 surfaceArea);
             double volume = (4.0 / 3) * Math.PI * Math.pow(radius, 3);
             System.out.printf("The volume of that sphere is %.3f \n", volume);
         }	
         else 	
         {	
             System.out.println("Error: The diameter must be greater than 0");	
         }
 	
     }  	
 }
